.lang-nav {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	font-size: 25.4px;

	@media screen and (max-width: 1024px) and (orientation: landscape) {
		font-size: 2.4vw !important;
	}
	@media screen and (max-width: 680px) and (orientation: portrait) {
		font-size: 3.8vw !important;
	}

	&__current {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		cursor: pointer;
		background: none;
		border: none;

		svg {
			flex-shrink: 0;
			width: 1rem;
			height: 1rem;
			transition: transform 0.3s ease-in-out;
			transform: rotate(0deg);
		}

		&_active {
			svg {
				transform: rotate(-90deg);
			}
		}
	}

	&__list-animation {
		position: absolute;
		top: calc(100% + 0.5rem);
		left: 0;
		right: 0;
		border-radius: 0.5rem;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
		z-index: 100;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0.2rem 0rem;
		background: #ffffffdc;
	}
	
	&__item {
		list-style: none;
		padding: 0rem 0.5rem;
		margin: 0!important;
		transition: background 0.1s ease-in-out;

		&:hover {
			background: var(--violet);
		}
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		text-decoration: none;
		color: #000;
	}

	&__name {
		@media screen and (max-width: 680px) and (orientation: portrait) {
			display: none;
		}
	}
}

.accordion-wrapper {min-height: 0;}
.accordion-animation {
	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;
	transition: grid-template-rows 0.3s ease-in-out;
}
.accordion-animation_active {
	grid-template-rows: 1fr;
}
