$bottom-pannel-height: 3em;

.vjs-admin {
	video {
		object-fit: cover;
	}

	&.vjs-fullscreen video {
		object-fit: contain;
	}

	.vjs-big-play-button, 
	.vjs-picture-in-picture-control
	{
		display: none;
	}
	
	.vjs-poster img {
		object-fit: cover;
	}

	.vjs-control-bar {
		flex-wrap: wrap;
		align-items: end;
		height: 3.5em;

		.vjs-button > .vjs-icon-placeholder::before {
			font-size: 2em;
			line-height: 1.5;
		}

		.vjs-play-control {
			height: $bottom-pannel-height;
		}

		.vjs-volume-panel {
			height: $bottom-pannel-height;
		}

		.vjs-time-control {
			display: block;
			height: $bottom-pannel-height;
		}
	
		.vjs-remaining-time {
			display: none;
		}

		.vjs-current-time-display {
			font-size: 1.3em;
		}
		
		.vjs-current-time {
			padding-right: 0;
		}

		.vjs-time-divider {
			padding: 0;
			text-align: center;

			span {
				font-size: 1.3em;
			}
		}
	
		.vjs-duration {
			padding-left: 0;

			.vjs-duration-display {
				font-size: 1.3em;
			}
		}

		.vjs-progress-control {
			position: absolute;
			width: 100%;
			height: auto;
			top: 0;
			left:0;

			&:hover {
				font-size: 1em;
			}

			.vjs-progress-holder {
				margin: 0;
			}
		}

		.vjs-fullscreen-control {
			height: $bottom-pannel-height;
			margin-left: auto;
		}
	}

} 

